.wishlist-page{
    margin:70px 100px;
}

.wishlist-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:50px;
}

.wishlist-header h2{
    font-size:22px;
    font-weight:500;
}

.move-btn{
    padding:14px 40px;
    border:1px solid #000;
    background:#fff;
    cursor:pointer;
    transition:.3s;
}

.move-btn:hover{
    background:#DB4444;
    color:#fff;
    border-color:#DB4444;
}

.wishlist-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}
.wishlist-card{
    cursor:pointer;
    transition: all .35s ease;
    border-radius: 8px;
    overflow: hidden;
}
.wishlist-card:hover{
    transform : translateY(-8px) scale(1.03);
    box-shadow: 0 15px 35px rgba(0,0,0, 0.12);
}

.wishlist-image{
    position:relative;
    background:#F5F5F5;
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    transition: .35s;
}

.wishlist-image img{
    width:170px;
    height:170px;
    object-fit:contain;
    transition: .4s ease;
}
.wishlist-card:hover .wishlist-image {
    background-color: #efefef;
}
.wishlist-card:hover .wishlist-image img{
    transform: scale(1.12);
}
.delete-btn{
    position:absolute;
    top:12px;
    right:12px;

    width:34px;
    height:34px;

    border:none;
    border-radius:50%;
    background:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
    transition: .3s;
}
.delete-btn:hover{
    background-color: #DB4444;
    color: #fff;
    transform: scale(1.1);
}
.cart-btn{
    position:absolute;
    bottom:0;
    left:0;

    width:100%;

    padding:12px;

    border:none;
    background:#000;
    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;

    cursor:pointer;
    transition: .3s;
    transform:  translateY(100%);
}
.wishlist-card:hover .cart-btn{
    transform: translateY(0);
}
.cart-btn.added{
    background-color: #16a34a;
    color: white;
}
.wishlist-card h3{
    margin-top:15px;
    font-size:16px;
    transition: .3s;
}
.wishlist-card:hover h3{
   color: #DB4444;
}

.price{
    display:flex;
    gap:12px;
    margin-top:8px;
}

.new-price{
    color:#DB4444;
    font-weight:600;
  font-size: 16px;

}

.old-price{
    color:#999;
    text-decoration:line-through;
  font-size: 16px;

}
.empty-wishlist{
    text-align:center;
    padding:100px 20px;
}

.empty-wishlist h2{
    font-size:32px;
    margin-bottom:15px;
}

.empty-wishlist p{
    color:#777;
}
.just-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:70px 0 40px;
}

.just-left{
    display:flex;
    align-items:center;
    gap:15px;
}

.red-bar{
    width:20px;
    height:40px;
    background:#DB4444;
    border-radius:4px;
}

/* .eye-btn,
.preview-btn{
    position:absolute;
    right:12px;
    width:34px;
    height:34px;
    border:none;
    border-radius:50%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
} */

/* .eye-btn{
    top:12px;
} */

/* .preview-btn{
    top:10px;
} */
.preview-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 36px;
  height: 36px;

  border: none;
  border-radius: 50%;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  z-index: 5;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
}

.preview-btn svg {
  font-size: 18px;
  color: #000;
}

.preview-btn:hover {
  background: #DB4444;
  transform: scale(1.1);
}

.preview-btn:hover svg {
  color: #fff;
}
.discount{
    position:absolute;
    top:12px;
    left:12px;
    background:#DB4444;
    color:#fff;
    padding:4px 10px;
    border-radius:4px;
}

.new-badge{
    position:absolute;
    top:12px;
    left:12px;
    background:#00FF66;
    color:#fff;
    padding:4px 10px;
    border-radius:4px;
}
@media(max-width:992px){

    .wishlist-grid{
        grid-template-columns:repeat(2,1fr);
    }
    
    }
    
    @media(max-width:768px){
    
    .wishlist-page{
        margin:40px 20px;
    }
    
    .wishlist-header{
        flex-direction:column;
        align-items:flex-start;
        gap:20px;
    }
    
    .move-btn{
        width:100%;
    }
    
    }
    
    @media(max-width:500px){
    
    .wishlist-grid{
        grid-template-columns:1fr;
    }
    
    }